.navbar.navbar-inverse {
  .navbar-inner {
    background-image: none;
    background-color: #93160B;
    border: none;

    min-height: 50px;
    padding-top: 10px;

    a {
      color: #fff;

      &.social-icon {
        padding: 6px;
        text-decoration: none;
        position: relative;

        i {
          position: relative;
          z-index: 2;
        }

        span.icon-background {
          position: absolute;
          z-index: 1;
        }

        &.facebook:hover span.icon-background {
          background-color: #3B5998;
          top: 10px;
          left: 13px;
          width: 15px;
          height: 22px;
        }

        &.twitter:hover span.icon-background {
          background-color: #00ACED;
          top: 10px;
          left: 8px;
          width: 20px;
          height: 21px;
        }
      }
    }
  }
}

body {
  background-color: #E8E8E8;
}

.footer {
  background-color: #E8E8E8;
  border-top: 1px solid #E4E4E4;
  color: #9DA2AA;

  padding-top: 20px;
  padding-bottom: 20px;

  .people {
    margin-top: 20px;
  }

  .copyright {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
  }
}

.content {
  padding-top: 80px;
  padding-bottom: 20px;

  background-color: #FCFDFE;
  color: #666666;

  .dark {
    color: #333333 !important;
  }

  .tagline {
    text-align: center;
  }

  .map {
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    padding: 5px;
  }
}
